---
- name: "Crear y configurar VMs en VirtualBox con VBoxManage"
  hosts: local
  become: true

  vars_files:
    - group_vars/all/vms.yml

  tasks:
    - name: "Eliminar known_hosts"
      ansible.builtin.import_role:
        name: clean_known_hosts

    - name: "Incluir prerequisitos"
      ansible.builtin.import_role:
        name: prerequisites

    - name: "Remove all VMs (danger zone)"
      ansible.builtin.import_role:
        name: remove_vms

    - name: "Paso intermedio KVM"
      ansible.builtin.import_role:
        name: kvm

    - name: "Crear todas las VMs definidas en vms.yml"
      ansible.builtin.import_role:
        name: create_vm

    - name: "Obtener IP de las VMs creadas"
      ansible.builtin.import_role:
        name: get_vm_ips
